body{
  background: antiquewhite;
  border: 2px solid burlywood;
  max-width: 600px;
}
div{
  background: coral;
  display: flex;
  flex-direction: column;
  margin: auto;
  a{
    color: navy;
    font-size: 1.5rem;
    text-decoration: none;
  }
  p{
    font-size: 1.5rem;
  }
}