body{
  background: antiquewhite;
  border: 2px solid chartreuse;
  max-width: 600px;
}
div{
  background: coral;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: .5rem;
  a{
    color: chartreuse;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
  }
  p{
    font-size: 1.5rem;
    text-align: justify;
  }
}